.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #1e1e1e;
  color: #ffffff;
  height: 100%; /* Adjust for the header */
  overflow: hidden;
}

.smokes {
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
  overflow-y: auto; /* Scroll only within this container */
  flex-grow: 1; /* Allow it to grow to take available space */
}

.smoke-details {
  background: #fff;
  border-radius: 4px;
  margin: 10px 0;
  padding: 20px;
  position: relative;
  color: #333;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.smoke-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.smoke-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.smoke-details .delete-button,
.smoke-details .update-button {
  margin-right: 10px; /* Add some space to the right of the buttons */
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-shrink: 0; /* Prevent the pagination from shrinking */
}

.pagination button {
  background-color: #2a2a2a;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button.active {
  background-color: #17a2b8;
}

.pagination button:hover {
  background-color: #0f6674;
}

@media (max-width: 768px) {
  .smokes {
    width: 100%;
    padding: 0 10px;
  }
}
