/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}

html, body, #root {
  background: #2b2b2b; /* Match the background of the dashboard */
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden; /* Ensure no overflow */
}

header {
  background: #fff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
}

.pages {
  max-width: 1400px;
  padding-left: 20px;
  margin: 0 auto;
}

.App {
  display: flex;
  height: 100%; /* Ensure it takes full height */
  width: 100%; /* Ensure it takes full width */
}

.content-with-sidebar {
  margin-left: 250px; /* Adjust this value to create space between the sidebar and content */
  padding: 20px;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensure content is distributed evenly */
}

.content {
  padding: 20px;
}

/* homepage */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #1e1e1e;
  color: #ffffff;
  height: calc(100% - 40px); /* Adjust height to fit within the available space */
  overflow: hidden; /* Ensure no overflow */
}

.smokes {
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
  overflow: auto;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #2a2a2a;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button.active {
  background-color: #17a2b8;
}

.pagination button:hover {
  background-color: #0f6674;
}

@media (max-width: 768px) {
  .smokes {
    width: 100%;
    padding: 0 10px;
  }
}
